<% include ../partials/header %>

<div class="">
    <h2>Welcome <span class="user-name"><%= userName %></span></h2>
    <h3>In room <span class="room-name"><%= roomName %></span></h3>
</div>
<% include ../partials/header %>