<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Home</title>
  <meta name="description" content="Home">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
Welcome! Go to /rooms for the chatrooms.
</body>
</html>